apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgbouncer
  namespace: tprms
  labels:
    app: pgbouncer

spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgbouncer

  template:
    metadata:
      labels:
        app: pgbouncer

    spec:
      containers:
        - name: pgbouncer
          image: <ADD_IMAGE_HERE>
          ports:
            - containerPort: 5432
          env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: envs-production
                  key: DB_HOST
            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  name: envs-production
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: password

            - name: POOL_MODE
              value: session
            - name: MAX_CLIENT_CONN
              value: "100"
            - name: default_pool_size
              value: "20"
            - name: SERVER_RESET_QUERY
              value: ""
            - name: IGNORE_STARTUP_PARAMETERS
              value: ""

          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sh
                  - "-c"
                  - killall -INT pgbouncer && sleep 120
